@import 'partial'; 

body {
	background-color: black;

	#table-container {
		width: 1008px;
		margin: 0 auto;
		height: 600px;

		#table {	 
			width: 1000px;
			height: 600px;
			position: absolute;
			z-index: -1;
		}

		#object-container {
			width: 1000px;
			height: 600px;
			
				// Current money bar
			#standings-bar {
				width: 70px;
				height: 270px;
				position: absolute;
				margin-left: 0px;
				background-color: black;
				text-align: center;
				p {
					color: white;
					text-decoration: underline;
					margin-top: 6px;
				}
				h6 {
					color: white;
					margin: 0px;
				}
			}
				// Deal button and modal
			#rules{
				position: absolute;
				margin-top: 50px;
			    margin-left: 200px;
			    height: 50px;
			    width: 60px;
			    
		    	img {
		    		position: absolute;
		    		width: 60px;
		    		height: 50px;
		    		// text-align: center;
		    	}
			}
			#deal-btn {
				background-color: white;
				margin-top: 10px;
			    margin-left: 75%;
			    width: 60px;
			    height: 50px;
			    color: yellow;
			    background-color: #116C0E;
			    font-size: 18px;
			    font-family: sans-serif;
			    text-align: center;
			}
			#reset-btn {
				@extend #deal-btn;

			}
			#bet-btn {
				margin-top: 10px;
			    margin-left: 75%;
			    width: 60px;
			    height: 50px;
			    color: yellow;
			    background-color: #116C0E;
			    font-size: 18px;
			    font-family: sans-serif;
			    text-align: center;
			}
			#deal-btn:hover {
				background-color:yellow;
				color:#116C0E;
			}
					// cards on the table
			#card-container{
				position: absolute;
				height: 500px;
				width: 100%;
				img {
					width: 70px;
					position: absolute;
					display: none;
				}
					// dealers cards
				.pUp {
					width:50px;
					display: inherit;
				}

				#pOneUp {
					margin-top: 340px;
					margin-left:900px;
				}
				#pTwoUp {
					margin-top: 400px;
					margin-left: 640px;
				}
				#pThreeUp {
					margin-top: 410px;
					margin-left: 430px;
				}
				#pFourUp{
					margin-top: 400px;
					margin-left: 290px;
				}
				#pFiveUp{
					margin-top: 340px;
					margin-left: 100px;
				}
						//hand
				#hand {
					margin-left: 700px;
					margin-top: 50px;
					width: 200px;
					height: 300px;
					display: inherit;
				}
				#dealer-card-one{
					margin-top: 40px;
					margin-left: 470px;
				}
				#dealer-card-two{
					height: 101px;
					margin-top: 40px;
					margin-left: 500px;
					z-index: -1;
				}
				#dealer-card-three{
					margin-top: 40px;
					margin-left: 440px;
				}
				#dealer-card-four{
					margin-top: 40px;
					margin-left: 410px;
				}
				#dealer-card-five{
					margin-top: 40px;
					margin-left: 380px;
				}
					
					//player one cards
				#playerOne-card-one {
					margin-top: 230px;
					margin-left: 915px;
				}
				#playerOne-card-two {
					margin-top: 210px;
					margin-left: 895px;
				}
				#playerOne-card-three {
					margin-top: 190px;
					margin-left: 875px;
				}
				#playerOne-card-four {
					margin-top: 170px;
					margin-left: 855px;
				}
				#playerOne-card-five {
					margin-top: 150px;
					margin-left: 835px;
				}
					
					// player two cards	
				#playerTwo-card-one {
					margin-top: 300px;
					margin-left: 700px;
				}
				#playerTwo-card-two {
					margin-top: 280px;
					margin-left: 680px;
				}
				#playerTwo-card-three {
					margin-top: 260px;
					margin-left: 660px;
				}
				#playerTwo-card-four {
					margin-top: 240px;
					margin-left: 640px;
				}
				#playerTwo-card-five {
					margin-top: 220px;
					margin-left: 620px;
				}
					
					//player 3 cards
				#playerThree-card-one {
					margin-top: 330px;
					margin-left: 490px;
				}
				#playerThree-card-two {
					margin-top: 300px;
					margin-left: 480px;
				}
				#playerThree-card-three {
					margin-top: 270px;
					margin-left: 470px;
				}
				#playerThree-card-four {
					margin-top: 240px;
					margin-left: 460px;
				}
				#playerThree-card-five {
					margin-top: 210px;
					margin-left: 450px;
				}
				#playerFour-card-one {
					margin-top: 310px;
					margin-left: 220px;
				}
				#playerFour-card-two {
					margin-top: 290px;
					margin-left: 240px;
				}
				#playerFour-card-three {
					margin-top: 270px;
					margin-left: 260px;
				}
				#playerFour-card-four {
					margin-top: 250px;
					margin-left: 280px;
				}
				#playerFour-card-five {
					margin-top: 230px;
					margin-left: 300px;
				}
				#playerFive-card-one {
					margin-top: 240px;
					margin-left: 30px;
				}
				#playerFive-card-two {
					margin-top: 220px;
					margin-left: 50px;
				}
				#playerFive-card-three {
					margin-top: 200px;
					margin-left: 70px;
				}
				#playerFive-card-four {
					margin-top: 180px;
					margin-left: 90px;
				}
				#playerFive-card-five {
					margin-top: 160px;
					margin-left: 110px;
				}
			}

					//chips
			
			#chip-container {
				margin-top: 396px;
				height: 150px;
				width: 350px;
				position: absolute; 

				#allin-btn {
					border-radius: 30px;
					width: 45px;
					margin-top: 1px;
					margin-left: 60px;
					position: absolute; 
				}	
				#allin-btn:hover {
					width: 55px;
				}
				#allin-btn:active{
					width:45px;
				}
				#one-btn {
					@extend #allin-btn;
					margin-top: 26px;
					margin-left: 111px;
					position: absolute; 
				}

				#four-btn {
					@extend #allin-btn;
					margin-left: 163px;
					margin-top: 40px;
					position: absolute; 
				}

				#ten-btn {
					@extend #allin-btn;
					margin-left: 216px;
					margin-top: 53px;
					position: absolute; 
				}
				
				#twenty-btn {
					@extend #allin-btn;
					margin-top: 62px;
					margin-left: 269px;
					position: absolute; 
				}
			}
					//player bar

			#player-bar {
				width: 350px;
				height: 100px;
				position: absolute;
				margin-left: 330px;
				margin-top: 430px;

				#bet {
					position: absolute;
					margin-left: 43px;
					margin-top: 35px;
					color: white;
					font-size: 16px;
				}

				#current-bet {
					position:absolute;
					margin-top: 53px;
					margin-left: 28px;
					height: 25px;
					width: 50px;
					background-color: white;
					margin-bottom: 0px;
					text-align: center;
					border: 2px solid black;
					font-size: 16px;

				}

				#place-bet-btn {
					position:absolute;
					margin-top: 53px;
					margin-left: 87px;
					width: 25px;
					height: 25px;
					text-align: center;
					border: 2px solid black;
					font-size: 11px;
					background-color: white;
				}
				#place-bet-btn:hover {
					background-color:green;

				}
				#place-bet-btn:active{
					background-color:white;
				}
				#hit-btn {
					position:absolute;
					margin-top: 53px;
					margin-left: 116px;
					height: 25px;
					width: 45px;
					border: 2px solid black;
					background-color: white;
					font-size: 14px;
				}

				#hit-btn:hover {
					background-color:green;

				}

				#hit-btn:active{
					background-color:white;
				}

				#stay-btn {
					@extend #hit-btn;
					margin-left: 165px;
				}

				#double-btn {
					@extend #hit-btn;
					margin-left: 215px;
					font-size: 11px;
					width: 58px
				}
				#split-btn {
					@extend #hit-btn;
					margin-left: 278px;
					opacity: 1.0;
				}
			}
		}
	}

	#new-players {
		margin:0 auto;
		text-align: center;
	}
	#new-players button:hover {
			background-color:green;
	}
	#player-three {
		display: none;
		margin: 0 auto;
	}
	#player-four {
		display: none;
		margin: 0 auto;
	}
	#player-five {
		display: none;
		margin: 0 auto;
	}
	
}

